<div>
    <ul>
        <li><button class="btn btn-default" onclick ="GoToUrlBlank('AddManager')">Add manager</button></li>
        <li><button class="btn btn-default" onclick ="GoToUrlBlank('AddProduct')">Add product</button></li>
        <li><button class="btn btn-default" onclick="GoToUrlBlank('AddSale')">Add sale</button></li>
        <li><button class="btn btn-default" onclick="GoToUrlBlank('RemoveManager')">Remove manager</button></li>
        <li><button class="btn btn-default" onclick="GoToUrlBlank('RemoveProduct')">Remove product</button></li>
        <li><button class="btn btn-default" onclick="GoToUrlBlank('RemoveSale')">Remove sale</button></li>
   </ul>
</div>

