@{
    ViewBag.Title = "Home Page";
}

<p style="text-align:left;font-family:'Times New Roman', Times, serif;font-size:x-large;">
    This application allows you to monitor sales, <br>
    and allows you to edit information. To get started <br>
    you must login or register.
</p>