@using System.Web.Mvc.Html



<div>  
    <button class="btn btn-default" onclick="location.href = '../EditByAdmin/EditRecords'" >Edit records</button>
    <button class="btn btn-default" onclick="location.href = '../Trade/ShowManagers'">Show managers</button>
    <button class="btn btn-default" onclick="location.href = '../Trade/ShowProducts'">Show products</button>
    <button class="btn btn-default" onclick="location.href = '../Trade/ShowSales'">Show sales</button>
</div>

