@using System.Web.Mvc.Html



<div>  
    <button class="btn btn-default" onclick="GoToUrlSelf('../EditByAdmin/EditRecords')" >Edit records</button>
    <button class="btn btn-default" onclick="GoToUrlSelf('../Trade/ShowManagers')">Show managers</button>
    <button class="btn btn-default" onclick="GoToUrlSelf('../Trade/ShowProducts')">Show products</button>
    <button class="btn btn-default" onclick="GoToUrlSelf('../Trade/ShowSales')">Show sales</button>
</div>

