@using System.Web.Mvc.Html



<div>  
    <button class="btn btn-default" onclick="GoToUrlBlank('../EditByAdmin/EditRecords')">Edit records</button>
    <button class="btn btn-default" onclick="GoToUrlBlank('../EditByAdmin/EditRoles')">Edit roles</button>
    <button class="btn btn-default" onclick="GoToUrlBlank('../Trade/ShowManagers')">Show managers</button>
    <button class="btn btn-default" onclick="GoToUrlBlank('../Trade/ShowProducts')">Show products</button>
    <button class="btn btn-default" onclick="GoToUrlBlank('../Trade/ShowSales')">Show sales</button>
</div>
